.Edit {
    color: rgb(85, 137, 197) !important;
    border: 1px solid rgb(212, 212, 212);
    margin-bottom: 5px;
    border-radius: 5px;
    /* margin-left: 30px; */

}
.Edit:hover {
   color: rgb(47, 85, 155) !important;
   text-decoration: underline;
}
.ALink {
    color: rgb(85, 137, 197) !important;
}
.Button {
    display: inline-block;
    padding: 0.3em 1.2em ;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}
.Button:hover{
    background-color:#4095c6;
    
    }